<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Add Manufacturer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body style="height: 100%; display: flex; flex-direction: column;">
<div class="container" style="flex: 1 0 auto;">
        <h1>Add Manufacturer</h1>
        <a class="btn btn-info" th:href="@{/manufacturers}">Back</a>
        <form method="post" th:object="${manufacturer}">
            <div class="form-group">
                <label for="manufacturer_id">Manufacturer-ID</label>
                <input type="number" class="form-control" id="manufacturer_id" th:field="*{manufacturer_id}" placeholder="1234">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="headquarter">Headquarter</label>
                <input type="text" class="form-control" id="headquarter" th:field="*{headquarter}" placeholder="Headquarter">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text" class="form-control" id="phone" th:field="*{phone}" placeholder="0123 4567890">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="123@mail.com">
            </div>
            <div class="form-group">
                <label for="payment_note">Payment Note</label>
                <input type="text" class="form-control" id="payment_note" th:field="*{payment_note}" placeholder="AT12 3456 7890">
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="number" class="form-control" id="rating" th:field="*{rating}" placeholder="5" min="1" max="5">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4" style=" flex-shrink: 0; background: #4285F4; color: white ">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase">IShop GmbH</h5>
                    <p>Here you can switch to all content.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">


                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a style="color: white" href="/customers">browse customers</a>
                        </li>
                        <li>
                            <a style="color: white" href="/products">browse products</a>
                        </li>
                        <li>
                            <a style="color: white" href="/manufacturers">browse manufacturers</a>
                        </li>
                        <li>
                            <a style="color: white" href="/orders">browse orders</a>
                        </li>
                        <li>
                            <a style="color: white" href="/shoppingCarts">browse shoppingCarts</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background: #0d47a1">© 2020 Copyright:
            <a href="../"> IShop.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>