<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>IShop</title>
    <link rel="icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="
background: rgb(66,133,244);
">
<section>
    <h1 style="text-align: center; color: white ">Willkommen im IShop</h1>
</section>
    <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero">
        <div class="container-fluid container-fluid-max" style="z-index: 10">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <h1 class="text-white">Choose where you want to go</h1>
                    <div class="mt-3">
                        <a style="margin-right: 5px; margin-bottom: 10px;" type="button" class="btn btn-success" href="/customers">Customers</a>
                        <a style="margin-right: 5px; margin-bottom: 10px;" type="button" class="btn btn-success" href="/manufacturers">Manufacturers</a>
                        <a style="margin-right: 5px; margin-bottom: 10px;" type="button" class="btn btn-success" href="/orders">Orders</a>
                        <a style="margin-right: 5px; margin-bottom: 10px;" type="button" class="btn btn-success" href="/products">Products</a>
                        <a style="margin-right: 5px; margin-bottom: 10px;" type="button" class="btn btn-success" href="/shoppingCarts">Shopping Carts</a>
                    </div>
                </div>
                <img src="https://icons.iconarchive.com/icons/google/noto-emoji-objects/1024/63007-shopping-cart-icon.png" width="512" height="512">
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>